PORT=5000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=636363
DB_NAME=aboni
JWT_SECRET=aboni-super-secret-change-in-prod
JWT_EXPIRES=7d
UPLOAD_DIR=uploads
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
